/***************

MAIN CONTAINING DIV

***************/

.data-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}
@media (min-width: 300px) {
  .data-container {
    padding-top: 30vh;
  }
}
@media (min-width: 500px) {
  .data-container {
  }
}
@media (min-width: 650px) {
  .data-container {
  }
}
@media (min-width: 750px) {
  .data-container {
  }
}
@media (min-width: 1000px) {
  .data-container {
    padding-top: 27vh;
  }
}
@media (min-width: 1200px) {
  .data-container {
  }
}
@media (min-width: 1400px) {
  .data-container {
    padding-top: 25vh;
  }
}

/***************

CHANCE OF DEATH 
INDICATOR TEXT

***************/

.main-data {
  font-family: 'Roboto Mono';
  display: flex;
}
@media (min-width: 300px) {
  .main-data {
    display: flex;
    font-size: 4rem;
    word-spacing: -0.5rem;
  }
}
@media (min-width: 500px) {
  .main-data {
    font-size: 6rem;
  }
}
@media (min-width: 650px) {
  .main-data {
    font-size: 8.75rem;
    word-spacing: -0.75rem;
  }
}
@media (min-width: 750px) {
  .main-data {
    font-size: 10rem;
  }
}
@media (min-width: 1000px) {
  .main-data {
    font-size: 12rem;
  }
}
@media (min-width: 1200px) {
  .main-data {
    font-size: 13.5rem;
    word-spacing: -1.5rem;
  }
}
@media (min-width: 1400px) {
  .main-data {
    font-size: 15rem;
    word-spacing: -2rem;
  }
}
.asterisk {
  align-items: flex-start;
}

@media (min-width: 300px) {
  .asterisk {
    font-size: 2rem;
  }
}

@media (min-width: 650px) {
  .asterisk {
    font-size: 3rem;
  }
}

@media (min-width: 1000px) {
  .asterisk {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  .asterisk {
    font-size: 5rem;
  }
}
@media (min-width: 1400px) {
  .asterisk {
  }
}

/***************

DATA CHOICE
BTN ROW

***************/

.data-control {
  display: flex;
  align-items: center;
}
@media (min-width: 300px) {
  .data-control {
    background-color: white;
    font-size: 2.5rem;
  }
}
@media (min-width: 500px) {
  .data-control {
    font-size: 3rem;
  }
}
@media (min-width: 650px) {
  .data-control {
    font-size: 3.5rem;
  }
}
@media (min-width: 750px) {
  .data-control {
    font-size: 4rem;
  }
}
@media (min-width: 1000px) {
  .data-control {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  .data-control {
    font-size: 6rem;
    padding-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .data-control {
  }
}
.toggle-healthy-btn {
  padding: 0rem;
  transform-origin: center top;
  animation: growWiggle 1.5s;
}

@keyframes growWiggle {
  0% {
    transform: rotateZ(5deg) scale(1.05);
  }
  10% {
    transform: rotateZ(-5deg) scale(1.15);
  }
  15% {
    transform: rotateZ(0deg) scale(1.2);
  }
  20% {
    transform: rotateZ(5deg) scale(1.2);
  }
  30% {
    transform: rotateZ(-5deg) scale(1.2);
  }
  40% {
    transform: rotateZ(5deg) scale(1.2);
  }
  50% {
    transform: rotateZ(-5deg) scale(1.2);
  }
  60% {
    transform: rotateZ(5deg) scale(1.2);
  }
  70% {
    transform: rotateZ(-5deg) scale(1.2);
  }
  80% {
    transform: rotateZ(5deg) scale(1.2);
  }
  90% {
    transform: rotateZ(-5deg) scale(1.2);
  }
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}
.select-age-btn {
  padding: 0rem;
  text-align: center;
  background-color: transparent;
  color: white;
}

@media (min-width: 300px) {
  .select-age-btn {
    margin: 0 0.5rem;
  }
}
@media (min-width: 500px) {
  .select-age-btn {
    margin: 0 1rem;
  }
}
@media (min-width: 650px) {
  .select-age-btn {
  }
}
@media (min-width: 750px) {
  .select-age-btn {
  }
}
@media (min-width: 1000px) {
  .select-age-btn {
  }
}
@media (min-width: 1200px) {
  .select-age-btn {
  }
}
@media (min-width: 1400px) {
  .select-age-btn {
  }
}

.addendum > * {
}
.addendum pre {
  word-wrap: break-word;
  width: 30rem;
}

.addendum {
  font-family: 'Roboto Condensed';
  display: flex;
}

@media (min-width: 300px) {
  .addendum {
    width: 18rem;
    margin-top: 1.8rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 500px) {
  .addendum {
    font-size: 1.1rem;
    width: 20rem;
  }
}
@media (min-width: 650px) {
  .addendum {
    width: 28rem;
    margin-top: 2.4rem;
  }
}
@media (min-width: 750px) {
  .addendum {
    margin-top: 2.9rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .addendum {
    width: 33rem;
    margin-top: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .addendum {
    font-size: 1.4rem;
  }
}
@media (min-width: 1400px) {
  .addendum {
    width: 39rem;
    font-size: 1.6rem;
  }
}

.btn {
  font-size: 5rem;
  padding: 1rem 2rem;
  color: black;
  font-family: 'Roboto Condensed';
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: inherit;
}
@media (min-width: 300px) {
  .btn {
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .btn {
    padding: 1rem 1rem;
  }
}
@media (min-width: 650px) {
  .btn {
  }
}
@media (min-width: 750px) {
  .btn {
  }
}
@media (min-width: 1000px) {
  .btn {
  }
}
@media (min-width: 1200px) {
  .btn {
  }
}
@media (min-width: 1400px) {
  .btn {
  }
}

select {
  appearance: none;
  position: relative;
  text-align-last: center;
}
.select-wrapper::before {
  content: '';
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 87%;
  margin: 0 auto;
  background-color: grey;
  transform: translate3d(10%, 0, 0);
  border-radius: 3px;
}
.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
h2,
h3,
h4 {
  font-family: 'Roboto Condensed';
  font-weight: normal;
}

@media (min-width: 300px) {
  h3 {
    font-size: 3rem;
  }
}
@media (min-width: 500px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media (min-width: 650px) {
  h3 {
    font-size: 4.25rem;
  }
}
@media (min-width: 750px) {
  h3 {
    font-size: 5.25rem;
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 7rem;
  }
}
@media (min-width: 1400px) {
  h3 {
  }
}

.return-home-btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  background-color: transparent;
  border: 3px solid black;
  transition: all 0.3s;
}

.return-home-btn:hover {
  color: white;
  background-color: black;
}
@media (min-width: 300px) {
  .return-home-btn {
    margin-top: 6rem;
    font-size: 2.25rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .return-home-btn {
    margin-top: 7rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 650px) {
  .return-home-btn {
    margin-top: 8rem;
    padding: 0.5rem;
    font-size: 2.25rem;
    margin-right: 46.5%;
  }
}
@media (min-width: 900px) {
  .return-home-btn {
    margin-right: 47%;
    padding: 0.5rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .return-home-btn {
    margin-top: 10rem;
    font-size: 3rem;
    margin-right: 46.25%;
    padding: 1rem;
  }
}
@media (min-width: 1100px) {
  .return-home-btn {
    margin-top: 10rem;
  }
}
@media (min-width: 1200px) {
  .return-home-btn {
    font-size: 3rem;
    margin-right: 47%;
  }
}
@media (min-width: 1400px) {
  .return-home-btn {
    margin-top: 12rem;
    margin-right: 48%;
  }
}

/*


@media(min-width:300px) {

}
500px
650px
750px
1000px
1200px
1400px

*/
