.graph-extras {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.graph-extras p {
  display: flex;
  font-family: 'Roboto Condensed';
  margin-left: calc(25% - 1.6rem);
}

@media (min-width: 300px) {
  .graph-extras p {
    font-size: 1.2rem;
  }
}

@media (min-width: 750px) {
  .graph-extras p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .graph-extras p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1400px) {
  .graph-container {
    width: 100rem;
  }
}
