@media (min-width: 300px) {
  .graph-container {
    width: 30rem;
  }
}
@media (min-width: 500px) {
  .graph-container {
    width: 40rem;
  }
}
@media (min-width: 650px) {
  .graph-container {
    margin-top: 2rem;
    width: 52rem;
  }
}
@media (min-width: 750px) {
  .graph-container {
    width: 60rem;
    margin-top: 5rem;
  }
}
@media (min-width: 1000px) {
  .graph-container {
    margin-top: 0rem;
    width: 65rem;
  }
}
@media (min-width: 1200px) {
  .graph-container {
    width: 76rem;
  }
}
@media (min-width: 1400px) {
  .graph-container {
  }
}

@media (min-width: 300px) {
  .graph-title {
    font-size: 3rem;
    padding: 3rem 0;
    padding-bottom: 1rem;
  }
}
@media (min-width: 500px) {
  .graph-title {
    font-size: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 650px) {
  .graph-title {
    font-size: 4.25rem;
    padding-top: 5rem;
  }
}
@media (min-width: 750px) {
  .graph-title {
    font-size: 4.75rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .graph-title {
    font-size: 6rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .graph-title {
    font-size: 7rem;
    padding-bottom: 5.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
