html {
}
.App {
}
h1 {
  font-family: 'Arvo', serif;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  display: block;
}
@media (min-width: 300px) {
  h1 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
    width: 30rem;
    padding: 2rem 0rem;
  }
}

@media (min-width: 500px) {
  h1 {
    width: 37rem;
    font-size: 6.4rem;
    width: 40rem;
    padding-top: 4rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 650px) {
  h1 {
    font-size: 6.4rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
    width: 40rem;
  }
}
@media (min-width: 750px) {
  h1 {
    font-size: 7rem;
    margin-bottom: 7rem;
    width: 42rem;
  }
}
@media (min-width: 1000px) {
  h1 {
    margin-top: 13rem;
    font-size: 8rem;
    margin-bottom: 7rem;
    width: 55rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    width: 56rem;
    font-size: 9.4rem;
  }
}
@media (min-width: 1400px) {
  h1 {
    width: 100%;
    font-size: 12.8rem;
    margin-bottom: 9rem;
  }
}

nav {
  font-family: 'Roboto Condensed';
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 30vw;
}
@media (min-width: 300px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: 45rem;
    font-size: 1.8rem;
    width: 6.3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 500px) {
  nav {
    font-size: 2rem;
    width: 16rem;
    height: 55rem;
    margin-top: 6rem;
  }
}
@media (min-width: 650px) {
  nav {
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 0;
    width: 90%;
  }
}

@media (min-width: 750px) {
  nav {
    width: 90%;
    height: 56rem;
  }
}
@media (min-width: 1000px) {
  nav {
    align-items: baseline;
    height: 27rem;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  nav {
  }
}
@media (min-width: 1400px) {
  nav {
  }
}
a,
a:link,
a:active {
  text-decoration: none;
  color: black;
  text-align: center;
}

.nav-box {
  flex-direction: column;
  display: flex;
}
@media (min-width: 500px) {
  .nav-box {
    margin-bottom: 2rem;
  }
}
@media (min-width: 750px) {
  .nav-box {
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 1000px) {
  .nav-box {
  }
}
@media (min-width: 1200px) {
  .nav-box {
  }
}
@media (min-width: 1400px) {
  .nav-box {
  }
}

.nav-icon {
  height: 100%;
  width: 100%;
  display: block;
}

@media (min-width: 500px) {
  .nav-icon {
  }
}
@media (min-width: 650px) {
  .nav-icon {
    width: 18rem;
  }
}
@media (min-width: 750px) {
  .nav-icon {
    width: 20rem;
  }
}
@media (min-width: 1000px) {
  .nav-icon {
    width: 22rem;
  }
}
@media (min-width: 1200px) {
  .nav-icon {
  }
}
@media (min-width: 1400px) {
  .nav-icon {
    width: 28rem;
  }
}

@media (min-width: 300px) {
  .nav-icon img {
    fill: white;
  }
}

@media (min-width: 500px) {
  .nav-icon img {
    max-width: 12rem;
    max-height: 12rem;
  }
}

@media (min-width: 650px) {
  .nav-icon img {
    max-width: 13rem;
    max-height: 13rem;
  }
}

@media (min-width: 750px) {
  .nav-icon img {
    max-width: 14rem;
    max-height: 14rem;
  }
}

@media (min-width: 1000px) {
  .nav-icon img {
    max-width: 18.5rem;
    max-height: 18.5rem;
  }
}

@media (min-width: 1000px) {
  .nav-icon img {
    max-width: 20rem;
    max-height: 20rem;
  }
}

@media (min-width: 1200px) {
  .nav-icon img {
    max-width: 22.5rem;
    max-height: 22.5rem;
  }
}

.nav-label {
  line-height: 1.4;
  display: block;
}

@media (min-width: 500px) {
  .nav-label {
  }
}
@media (min-width: 650px) {
  .nav-label {
    font-size: 2.3rem;
    margin-top: 0.8rem;
  }
}
@media (min-width: 750px) {
  .nav-label {
    font-size: 2.3rem;
    margin-top: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .nav-label {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .nav-label {
    margin-top: 2.2rem;
  }
}
@media (min-width: 1400px) {
  .nav-label {
    font-size: 3.4rem;
    margin-top: 3rem;
  }
}

.graph-container {
  margin-right: auto;
  margin-left: auto;
}
