*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
img {
  max-width: 100%;
}

body {
  min-height: 100%;
}

#root {
}

.btn {
  font-size: 5rem;
  padding: 1rem 2rem;
  color: black;
  font-family: 'Roboto Condensed';
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: inherit;
}
@media (min-width: 300px) {
  .btn {
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .btn {
    padding: 1rem 1rem;
  }
}
@media (min-width: 650px) {
  .btn {
  }
}
@media (min-width: 750px) {
  .btn {
  }
}
@media (min-width: 1000px) {
  .btn {
  }
}
@media (min-width: 1200px) {
  .btn {
  }
}
@media (min-width: 1400px) {
  .btn {
  }
}
