.graph-extras {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.graph-extras p {
  display: flex;
  font-family: 'Roboto Condensed';
  margin-left: calc(25% - 1.6rem);
}

@media (min-width: 300px) {
  .graph-extras p {
    font-size: 1.2rem;
  }
}

@media (min-width: 750px) {
  .graph-extras p {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .graph-extras p {
    font-size: 1.6rem;
  }
}

.graph-container {
  margin: 0 auto;
}

@media (min-width: 300px) {
  .graph-container {
    width: 100%;
    margin: 0 0;
    margin: 25vh 0;
  }
}

@media (min-width: 500px) {
  .graph-container {
    width: 100%;
    margin: 0 0;
    margin: 10rem 0;
  }
}

@media (min-width: 750px) {
  .graph-container {
    width: 100%;
    margin: 0 0;
    margin: 2.5rem 0;
  }
}

@media (min-width: 1000px) {
  .graph-container {
    width: 100rem;
    margin: 0 auto;
  }
}

.btn {
  padding: 1rem 2rem;
  color: black;
  font-family: 'Roboto Condensed';
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 300px) {
  .btn {
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .btn {
    padding: 1rem 1rem;
  }
}

.return-home-btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  background-color: transparent;
  border: 3px solid black;
  transition: all 0.3s;
}

.return-home-btn:hover {
  background-image: linear-gradient(
    to left bottom,
    hsl(200, 100%, 50%),
    hsla(230, 100%, 50%)
  );
}

@media (min-width: 300px) {
  .return-home-btn {
    margin-top: 3rem;
    font-size: 1.75rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .return-home-btn {
    margin-top: 4rem;
    font-size: 1.75rem;
  }
}
@media (min-width: 650px) {
  .return-home-btn {
    margin-top: 5rem;
  }
}
@media (min-width: 750px) {
  .return-home-btn {
    margin-top: 5rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 1000px) {
  .return-home-btn {
    margin-top: 7rem;
  }
}
@media (min-width: 1200px) {
  .return-home-btn {
    margin-top: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .return-home-btn {
  }
}
