@media (min-width: 300px) {
  .graph-container {
    padding-top: 25vh;
  }
}

@media (min-width: 650px) {
  .graph-container {
    padding-top: 0;
  }
}

@media (min-width: 300px) {
  .graph-title {
    font-size: 3rem;
    padding: 3rem 0;
    padding-bottom: 1rem;
  }
}
@media (min-width: 500px) {
  .graph-title {
    font-size: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 650px) {
  .graph-title {
    font-size: 4.25rem;
    padding-top: 5rem;
  }
}
@media (min-width: 750px) {
  .graph-title {
    font-size: 4.75rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1000px) {
  .graph-title {
    font-size: 6rem;
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .graph-title {
    font-size: 7rem;
    padding-bottom: 5.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1400px) {
  .graph-title {
    padding-bottom: 2rem;
  }
}
.graph-title {
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  color: black;
  font-family: 'Roboto Condensed';
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
@media (min-width: 300px) {
  .btn {
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .btn {
    padding: 1rem 1rem;
  }
}

.return-home-btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  background-color: white;
  border: 3px solid black;
  transition: all 0.3s;
}

.return-home-btn:hover {
  background-image: linear-gradient(
    to left bottom,
    hsl(200, 100%, 50%),
    hsla(230, 100%, 50%)
  );
}

@media (min-width: 300px) {
  .return-home-btn {
    margin-top: 3rem;
    font-size: 1.75rem;
    padding: 0.5rem 0.5rem;
  }
}
@media (min-width: 500px) {
  .return-home-btn {
    margin-top: 4rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 650px) {
  .return-home-btn {
    margin-top: 5rem;
    font-size: 3rem;
  }
}
@media (min-width: 750px) {
  .return-home-btn {
    margin-top: 5rem;
    font-size: 3rem;
  }
}
@media (min-width: 1000px) {
  .return-home-btn {
    margin-top: 7rem;
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .return-home-btn {
    margin-top: 4rem;
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .return-home-btn {
    margin-top: 2rem;
  }
}
