.App {
  height: 100vh;
}

.animated-background {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -100;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /* background-image: linear-gradient(hsl(200, 100%, 50%), hsla(230, 100%, 50%)); */
  /*linear-gradient( to left bottom, hsl(200, 100%, 50%), hsla(-18, 100%, 50%) );*/
  background-image: linear-gradient(
    to left bottom,
    hsl(200, 100%, 50%),
    hsla(230, 100%, 50%)
  );
}

.moving-figures {
  display: block;
  height: clamp(5rem, 10vw, 15rem);
  width: clamp(5rem, 10vw, 15rem);
  animation: animate 10s linear infinite;
  position: absolute;
  bottom: -15rem;
  background-image: url('../res/icons/icons8-coronavirus-50-9.svg');
  background-size: cover;
  background-position: center;
  filter: invert(0);
}

.moving-figures:nth-of-type(1) {
  right: 15%;
}

.moving-figures:nth-of-type(2) {
  right: 55%;
  animation-delay: 1.5s;
}

.moving-figures:nth-of-type(3) {
  right: 75%;
  animation-delay: 3.25s;
}

.moving-figures:nth-of-type(4) {
  right: 15%;
}

.moving-figures:nth-of-type(5) {
  right: 0%;
  animation-delay: 6s;
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, -100vh, 0) rotateZ(360deg);
    opacity: 0;
  }
}

.main-text {
  font-family: 'Arvo', serif;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  display: block;
  text-align: center;
  color: white;
}
@media (min-width: 300px) {
  .main-text {
    font-size: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    padding: 2rem 0rem;
  }
}

@media (min-width: 500px) {
  .main-text {
    width: 37rem;
    /* font-size: 5.6rem; */

    font-size: 6.4rem;
    width: 40rem;
    padding-top: 4rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 650px) {
  .main-text {
    font-size: 6.4rem;
    padding-top: 3rem;
    margin-bottom: 6rem;
    width: 40rem;
  }
}
@media (min-width: 750px) {
  .main-text {
    font-size: 6.5rem;
    margin-bottom: 7rem;
    width: 42rem;
  }
}
@media (max-width: 750px) and (orientation: landscape) {
  .main-text {
    width: 74rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
}
@media (min-width: 1000px) {
  .main-text {
    /* padding-top: 13rem; */
    padding-top: 10rem;
    font-size: 8rem;
    margin-bottom: 7rem;
    width: 55rem;
    margin-top: 0rem;
  }
}
@media (min-width: 1200px) {
  .main-text {
    width: 56rem;
    font-size: 9.4rem;
  }
}
@media (min-width: 1400px) {
  .main-text {
    width: 100%;
    font-size: 12.8rem;
    margin-bottom: 9rem;
  }
}

nav {
  font-family: 'Roboto Condensed';
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0 auto;
  width: 30vw;
  filter: invert(1);
  /*make all the nav items white*/
}
@media (min-width: 300px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: 57rem;
    font-size: 1.8rem;
    width: 9.3rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 500px) {
  nav {
    font-size: 2rem;
    width: 16rem;
    /* height: 55rem; */
  }
}
@media (min-width: 650px) {
  nav {
    justify-content: space-evenly;
    align-items: center;
    flex: 0 1 0;
    width: 90%;
  }
}

@media (min-width: 750px) {
  nav {
    width: 90%;
    height: 53rem;
  }
}
@media (max-width: 750px) and (orientation: landscape) {
  nav {
    font-size: 2rem;
    /* width: 16rem; */
    flex-direction: row;
    /* height: 35rem; */
    height: 24rem;
  }
}

@media (min-width: 1000px) {
  nav {
    align-items: baseline;
    height: 27rem;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  nav {
  }
}
@media (min-width: 1400px) {
  nav {
  }
}

a,
a:link,
a:active {
  text-decoration: none;
  color: black;
  text-align: center;
}

.nav-box {
  flex-direction: column;
  display: flex;
}
@media (min-width: 500px) {
  .nav-box {
    margin-bottom: 3rem;
  }
}
@media (min-width: 750px) {
  .nav-box {
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 1000px) {
  .nav-box {
  }
}
@media (min-width: 1200px) {
  .nav-box {
  }
}
@media (min-width: 1400px) {
  .nav-box {
  }
}

.nav-icon {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  transition: transform cubic-bezier(0.17, 0.67, 0.48, 0.95) 0.2s;
}

@media (min-width: 500px) {
  .nav-icon {
  }
}
@media (min-width: 650px) {
  .nav-icon {
    width: 18rem;
  }
}
@media (min-width: 750px) {
  .nav-icon {
    width: 20rem;
  }
}
@media (max-width: 750px) and (orientation: landscape) {
  .nav-icon {
    width: 26rem;
  }
}
@media (min-width: 1000px) {
  .nav-icon {
    width: 22rem;
  }
}
@media (min-width: 1200px) {
  .nav-icon {
  }
}
@media (min-width: 1400px) {
  .nav-icon {
    width: 28rem;
  }
}

@media (min-width: 300px) {
  .nav-icon .image {
    fill: black;
  }
}
.colorize-pink {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.colorize-navy {
  filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

.colorize-blue {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.nav-icon:hover {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
  transform: scale(1.2);
}

@media (min-width: 500px) {
  .nav-icon .image {
    max-width: 12rem;
    max-height: 12rem;
  }
}

@media (min-width: 650px) {
  .nav-icon .image {
    max-width: 13rem;
    max-height: 13rem;
  }
}

@media (min-width: 750px) {
  .nav-icon .image {
    max-width: 12rem;
    max-height: 12rem;
  }
}
@media (max-width: 750) and (orientation: landscape) {
  .nav-icon .image {
    max-width: 20rem;
    max-height: 20rem;
  }
}
@media (min-width: 1000px) {
  .nav-icon .image {
    max-width: 18.5rem;
    max-height: 18.5rem;
  }
}

@media (min-width: 1000px) {
  .nav-icon .image {
    max-width: 20rem;
    max-height: 20rem;
  }
}

@media (min-width: 1200px) {
  .nav-icon .image {
    max-width: 22.5rem;
    max-height: 22.5rem;
  }
}

.nav-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.disclaimer-source-link:link,
.disclaimer-source-link:visited,
.disclaimer-source-link:active {
  text-decoration: none;
  /* color: white; don't need because the parent color is inverted*/
  cursor: pointer;
  display: inline-block;
  position: fixed;
}

@media (min-width: 300px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -8%;
    font-size: 11px;
  }
}

@media (min-width: 500px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -5%;
    font-size: 11px;
  }
}

@media (min-width: 700px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -10%;
    font-size: 13px;
  }
}
@media (min-width: 750px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -16%;
    font-size: 13px;
  }
}

@media (min-width: 1000px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -40%;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -50%;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .disclaimer-source-link:link,
  .disclaimer-source-link:visited,
  .disclaimer-source-link:active {
    bottom: -60%;
    font-size: 15px;
  }
}

.err-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px) brightness(50%);
  z-index: 100;
}
.err-message-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: max-content;
  height: min(50%, 20rem);
  /* width: min(50%, 50rem); */
  border-left: 5px solid red;
  background-color: white;
  font-size: clamp(1.8rem, 2.6vw, 3rem);
  justify-content: center;
}

.err-message {
  display: inline-block;
  padding: 1.5rem 2.25rem;
  font-weight: bold;
}

.btn {
  font-size: 5rem;
  padding: 1rem 2rem;
  color: black;
  font-family: 'Roboto Condensed';
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  font-size: inherit;
}

.err-retry-btn {
  background-color: black;
  color: white;
}
.err-retry-btn:hover {
  filter: invert();
}

.nav-label {
  line-height: 1.4;
  display: block;
}

@media (min-width: 500px) {
  .nav-label {
  }
}
@media (min-width: 650px) {
  .nav-label {
    font-size: 2.3rem;
    margin-top: 0.8rem;
  }
}
@media (min-width: 750px) {
  .nav-label {
    font-size: 2.3rem;
    margin-top: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .nav-label {
    font-size: 2.8rem;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .nav-label {
    margin-top: 2.2rem;
  }
}
@media (min-width: 1400px) {
  .nav-label {
    font-size: 3.4rem;
    margin-top: 3rem;
  }
}

.graph-container {
  margin-right: auto;
  margin-left: auto;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}
